@page
@model Project.Pages.Employees.AddModel
@{
}

<br />
<h2 class="text-info">Add New Employee</h2>
<br />

<div class="border container" style="padding:30px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Employee.FullName"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.FullName" class="form-control" />
            </div>
            <span asp-validation-for="Employee.FullName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Employee.Position"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Position" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Position" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Employee.Location"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Location" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Location" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Add" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back To List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 